
.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}
body{
  /* background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); */
}
.complated > span{
  text-decoration: line-through;
}
.c-input-field{
  width: 300px;
}
body > ul{
  list-style-type: none;
}